@page "/order-success"

<div style="text-align: center; padding: 50px;">
    <h1 style="color: #28a745; font-size: 3rem;">Thank You!</h1>
    <p style="font-size: 1.5rem;">Your order has been placed successfully.</p>
    
    <div style="margin-top: 30px;">
        <img src="https://cdn-icons-png.flaticon.com/512/148/148767.png" width="100" />
    </div>

    <br /><br />
    <a href="/" class="btn-hero">Continue Shopping</a>
</div>