name: Deploy to GitHub Pages

on:
  push:
    branches: [ master, main ]

permissions:
  contents: write

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Setup .NET 8 or newer
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      # IMPORTANT CHANGE HERE:
      # We point to 'BlazorShop/BlazorShop.csproj' because your project is in a subfolder.
      - name: Publish .NET Project
        run: dotnet publish BlazorShop/BlazorShop.csproj -c Release -o release --nologo

      # Copy index.html to 404.html to fix routing
      - name: Fix GitHub Pages Routing
        run: |
          cp release/wwwroot/index.html release/wwwroot/404.html
          touch release/wwwroot/.nojekyll

      # Deploy the 'release/wwwroot' folder
      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: gh-pages
          FOLDER: release/wwwroot